In [108]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv('/content/Salary Data.csv')

In [109]:
df.head()
df.tail()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [110]:
df.shape

(375, 6)

In [111]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [112]:
df.dropna(inplace=True)

In [113]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [114]:
df.shape

(373, 6)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 373 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 20.4+ KB

In [116]:
df=pd.get_dummies(df,columns=['Gender'])

In [117]:
df

,Age,Education Level,Job Title,Years of Experience,Salary,Gender_Female,Gender_Male
0,32.0,Bachelor's,Software Engineer,5.0,90000.0,False,True
1,28.0,Master's,Data Analyst,3.0,65000.0,True,False
2,45.0,PhD,Senior Manager,15.0,150000.0,False,True
3,36.0,Bachelor's,Sales Associate,7.0,60000.0,True,False
4,52.0,Master's,Director,20.0,200000.0,False,True
...,...,...,...,...,...,...,...
370,35.0,Bachelor's,Senior Marketing Analyst,8.0,85000.0,True,False
371,43.0,Master's,Director of Operations,19.0,170000.0,False,True
372,29.0,Bachelor's,Junior Project Manager,2.0,40000.0,True,False
373,34.0,Bachelor's,Senior Operations Coordinator,7.0,90000.0,False,True
374,44.0,PhD,Senior Business Analyst,15.0,150000.0,True,False

In [118]:

df=pd.get_dummies(df,columns=['Education Level'])
df=pd.get_dummies(df,columns=['Job Title'])

In [119]:
df.shape

(373, 182)

In [120]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df['Age']=sc.fit_transform(df[['Age']])
df['Years of Experience']=sc.fit_transform(df[['Years of Experience']])

In [121]:
y = df.Salary
x = df.drop(columns=['Salary'])

In [122]:
x

,Age,Years of Experience,Gender_Female,Gender_Male,Education Level_Bachelor's,Education Level_Master's,Education Level_PhD,Job Title_Account Manager,Job Title_Accountant,Job Title_Administrative Assistant,...,Job Title_Supply Chain Manager,Job Title_Technical Recruiter,Job Title_Technical Support Specialist,Job Title_Technical Writer,Job Title_Training Specialist,Job Title_UX Designer,Job Title_UX Researcher,Job Title_VP of Finance,Job Title_VP of Operations,Job Title_Web Developer
0,-0.769398,-0.768276,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,-1.336003,-1.073702,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1.072068,0.758859,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,-0.202793,-0.462849,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2.063627,1.522426,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,-0.344444,-0.310135,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
371,0.788766,1.369713,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
372,-1.194352,-1.226416,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
373,-0.486096,-0.462849,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
374,0.930417,0.758859,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [95]:
df.shape

(373, 182)

In [96]:
X_train_full, X_valid_full, y_train, y_valid = train_test_split(x, y, test_size=0.2, random_state=1)

In [123]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train_full, y_train)
reg.score(X_train_full, y_train)

0.9845884519592479